<div class="island island-gallery">
  <h2 class="island-title">Gallery</h2>
  <div data-hull-widget="sort"></div>
  <div data-hull-widget="gallery"></div>
</div>

<div class="island island-gallery">
  <h2 class="island-title">Rules</h2>
  hey
</div>

<div class="island island-gallery">
  <h2 class="island-title">Prizes</h2>
  hey
</div>

<div class="island island-gallery">
  <h2 class="island-title">Judges</h2>
  hey
</div>
